@media only screen and (max-width: 576px){
    body{
        margin: 2px 2px;
    }
    #sec1{
        display: block;
    }
    #div-left-top h1, h2{
        text-align: center;
    }
    #div-left-top{
        border-left: none;
        border-bottom: orangered solid 5px;
    }
    #div-left-bottom{
        text-align: center;

    }
    #div-left-bottom p{
        text-align: center;
    }
    .div-img{
        display: none;
    }
    #sec2{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, fr);
        grid-gap: 10px 0;
    }
    #sec2-div1, #sec2-div2, #sec2-div3{
        width: 100%;
    }
    #my-mi-22{
        text-align: center;
    }
        
}